  <!-- Experience Widget Code -->
    <script src="https://cdn.humanagency.org/ha-widget-4hu6zj6wtm136nwhnysylk.js" async></script>
  <!-- Experience Widget Code -->

  <script id="ha-widget-config" type="application/json">
    {
      "url": "https://give.canyoudonate.org/e/nKVBPXKG",
      "dataUrl": "https://give.canyoudonate.org/api/v1/experiences/nKVBPXKG",
      "title": "Answer Now",
      "shape": "text-only",
      "widget": true,
      "color": "	#00FF00",
      "position": "right"
    }
  </script>
<<!-- Navigation Mobile type 2 -->

<a class="open_menu color-main bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<!-- Header 2 -->


<div class="container" data-turbolinks="false">
  <div class="mb-3 logo color-white d-block d-xl-none text-center logo_mobile">CanYouDonate.org</div>
  <h1 class="big color-white text-center" data-aos-duration="500" data-aos="zoom-in" data-aos-delay="0">Determine your eligibility for <br/>Living Kidney Donation </h1>
  <div class="mw-620 mx-auto mt-35 f-22 color-white op-7 text-center text-adaptive pb-50">
    <span data-aos-duration="500" data-aos="zoom-in" data-aos-delay="250">
    By answering a few simple questions<br/>
    Find out if you meet basic health requirements<br/>
    for Living Kidney Donation.
    </span>
  </div>
  <div class="row align-items-center justify-content-center no-gutters mt-30 pb-30">
    <%= link_to "Start", site_start_path, class: "btn action-1 lg" %> 
  </div>
  
  <div class="row align-items-center justify-content-center no-gutters">
		<%= render partial: "messenger" %>
  </div>
  
  <div class="color-white op-3 text-center mt-35">
    <span data-aos-duration="500" data-aos="zoom-in" data-aos-delay="750">			
    By signing up, you agree to the 
    <a href="#" class="link color-white">Terms of Service</a>			</span>			
  </div>
    
</div>

	<script>
    $(document).on('turbolinks:load', function() {
      demo = true;
      if(demo) {
        show_demo_messages()
      }
    });
  </script>


