<<!-- Navigation Mobile type 2 -->

<a class="open_menu color-main bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<!-- Header 2 -->

<div class="container">
  <div class="mb-3 logo color-white d-block d-xl-none text-center logo_mobile">CanYouDonate.org</div>
  <h1 class="big color-white text-center">Determine your eligibility for <br/>Living Kidney Donation </h1>
  <div class="mw-620 mx-auto mt-35 f-22 color-white op-7 text-center text-adaptive">
    <span>
    By answering a few simple questions, <br/>
    You can determine your eligibility for Living Kidney Donation  <br/>
    in 3 minutes or less.
    </span>
  </div>
  
  <form class="row align-items-center justify-content-center no-gutters">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-9 d-flex flex-wrap justify-content-center justify-content-md-between holder flex-container">
      <div class="messages">
        <p class="from-me">Hi! Are you interested in Living Kidney Donation?</p>
      </div>
    </div>
  </form>
  
  <div class="color-white op-3 text-center mt-35">
    <span>			
    By signing up, you agree to the 
    <a href="#" class="link color-white">Terms of Service</a>			</span>			
  </div>
    
</div>


<script>
</script>


