<<!-- Navigation Mobile type 2 -->

<a class="open_menu color-main bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<!-- Header 2 -->

<div class="container">
  <div class="mb-3 logo color-white d-block d-xl-none text-center logo_mobile">CanYouDonate.org</div>
  <h1 class="big color-white text-center">Let's Chat!</h1>
  <div class="mw-620 mx-auto mt-35 f-22 color-white op-7 text-center text-adaptive pb-50">
    <span>
    By answering a few simple questions, <br/>
    You can determine your eligibility for Living Kidney Donation  <br/>
    in 3 minutes or less.
    </span>
  </div>
  <div class="row align-items-center justify-content-center no-gutters">
  <%= render partial: "messenger" %>
  <div class="color-white op-3 text-center mt-35">
    <span>			
    By signing up, you agree to the 
    <a href="#" class="link color-white">Terms of Service</a>			</span>			
  </div>
    
</div>



